button {
    width:45%;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.guessed { background-color: rgba(109, 255, 51, 0.8) !important; }
.wrong { background-color: rgba(253, 66, 66, 0.8) !important; }

.main {
    width: 50%;
    margin: 0 auto;
    // background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
}

.main-subhead {
    margin-top: 90px;
    text-align: center;

    .main-subhead-button-box {
        width: 100%;  
    }
    
    .main-subhead-counter {
        font-size: 2.1em;
        padding-bottom: 20px;
        display: block;
        margin-top: 30px;
    }
}

@media screen and (max-width: 600px) {
    button {
        width: 100%;
    }
}
