<section>
  <div class="row" *ngIf="showPokemonCard" class="main">
    <div class="col-md-12 text-center">
      <app-pokemon-image [src]="pokemons[order[0]].sprite" [alt]="pokemons[order[0]].name" (loaded)="isLoaded()"></app-pokemon-image>
    </div>
    <div class="col-md-12" *ngIf="imgFullyLoaded" class="main-subhead">
      <ng-container class="main-subhead-button-box" *ngFor="let pokemon of pokemons; let idx = index;">
        <button type="button" class="btn btn-outline-secondary" id="btn-{{idx}}" (click)="getAnswer(pokemon.name, idx)">{{ pokemon.name }}</button>
      </ng-container>
      <ng-container>
        <span class="main-subhead-counter">{{ counter }}</span>
      </ng-container>
    </div>
  </div>
</section>